--- Data Files ---

Ignore the raw CSVs because they are too large for GitHub (100MB+ limit).

*.csv
*.xlsx
*.zip
*.7z

--- Python Environment ---

Standard folders for virtual environments and cached files

venv/
env/
.env
pycache/
*.py[cod]
*$py.class

--- Jupyter Notebooks ---

Ignores the hidden checkpoint folders created by Jupyter

.ipynb_checkpoints/

--- Operating System ---

.DS_Store
Thumbs.db

--- Visuals & Logs ---

*.log
*.pdf
